body{
     font: 14px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
     margin-top : 20px;
     border-bottom: 1px #ddd solid;
}
table{
    width: 99%;
    border: 1px solid #ebeef5;
}
table th,
table td{
    border: 1px solid #ebeef5;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

