
.introduce-wrapper{
    background-color: #f0f0f0;
    border-bottom:thick dotted #f0f0f0;
}
.introduce-wrapper .guide{
    text-align: left
}
.introduce-wrapper p{
      line-height: 28px;
      text-align: left
}




/**
    筛选器
*/

.select-wrapper{
    text-align:left;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 25px;

}
.filter p{
    margin: auto 15px;
    font-size: 1.5em;
    height: 80px;
    line-height: 80px;
}

.filter form{
   margin: auto 20px;
   font-size: 1.2em;
}
.filter input {
    max-width: 200px;
    width: 100%;
    background-color: white;
    height: 25px;
    padding: 0 0.4rem;
}
.filter button,
.back-wrapper button{
     outline-style: none;
     border: 1px solid #ccc;
     border-radius: 3px;
     width: 100px;
     height: 30px;
     color: #fff;
     font-size: 1em;
     background-color: #3392f0;
}
table{
    width: 99%;
    border: 1px solid #ebeef5;
}
table th,
table td{
    border: 1px solid #ebeef5;
}
.table-four th ,
.table-four td{
    width: 24%;
}
.table-five th,
.table-five td{
    width: 20%;
}
.table-six th,
.table-six td{
   width: 16.7%;
}
.table-eight th,
.table-eight td{
    width: 12.5%;
}
tr:hover {background-color: #f5f5f5;}

.search-wrapper {
     display: flex;
     /* flex-direction: row; */
     /* justify-content: flex-start; */
     align-items: center;
 }
 .btn-space {
    margin-left:10px;
    border: none;
 }
 table a {
    color:#3392f0 ;
 }

.delivery-detail-table ,
.store-detail{
    width: 1100px;
     margin: 0 auto;
}
.delivery-detail-table tr{
   background: #d8d8d8;
}

select {
    width: 250px;
    height: 30px;
}
