<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>智能配送</title>
    <base href="http://121.4.50.38:9000/"/>
    <link rel="stylesheet" href="css/clear.css"/>
    <link rel="stylesheet" href="css/query.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/form.css"/>

    <link rel="stylesheet" href="https://www.layuiweb.com/res/layui/dist/css/layui.css" media="all"/>
    <script src="https://www.layuiweb.com/res/layui/dist/layui.js"></script>

    <link rel="icon" href="./img/ico.ico">
    <script src="js/delivery.js"></script>
    <script src="js/common.js"></script>
    <script src="js/jq.js"></script>
    <script  src="https://kit.fontawesome.com/64d58efce2.js"
             crossorigin="anonymous"></script>
</head>
<body>
<nav class="top clearfix">
    <div class="inner">
        <!-- 定一下位置 -->
        <div class="location">
        </div>

        <div class="shortcut">
            <ul>
                <li class="line">
                    <a href="javascript:void(0)">你好, Jay</a>
                </li>
                <li class="line">
                    <a onclick="storeJump()" href="javascript:void(0)">我的门店</a>
                </li>
                <li class="line">
                    <a onclick="strategyJump()" href="javascript:void(0)">配送策略</a>
                </li>
                <li class="line">
                    <a onclick="deliveryJump()" href="javascript:void(0)">我的运单</a>
                </li>
                <li class="line">
                    <a onclick="logOut()" href="javascript:void(0)">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="content">
</div>
</body>
<script>
    var httpRequest = new XMLHttpRequest();
    httpRequest.open('GET', 'store', true);
    httpRequest.setRequestHeader('token',localStorage.getItem("token"))
    httpRequest.send();

    httpRequest.onreadystatechange = function(){
        if(httpRequest.readyState == 4){
           if(httpRequest.status == 200 ){
                var res = httpRequest.responseText;
                var loginBtn = document.getElementById("content");
                loginBtn.innerHTML = res;
            }
            if(httpRequest.status == 405 ){
                layer.open({
                    title: ['登录已失效'],
                    btn: ['返回登录页面'],
                    shade: 0.5,
                    yes: function(index){
                        window.location.href="login";
                    }
                });
            }
        }
    }
</script>
</html>