<div class="introduce-wrapper">
    <h2 class="guide">
        <i class="fa fa-commenting fa-2x"></i>
        <i class="fa-2x">指南:</i>
    </h2>
    <p>
       配送策略是对配送流程进行控制
    </p>
    <p>
        - 通常可以设置一个顺序进行运单推送
    </p>
    <p>
        - 也可以实现: 价格优先策略 / 短距离长距离选择不同配送渠道 等策略
    </p>
</div>
<hr/>
<div class="table-wrapper">
    <section class="select-wrapper clearfix">
        <div class="filter">
            <p>
                筛选器
            </p>

            <div>
                策略名称 : <input id="strategy-name-select" type="text"
                             name="name"
                             placeholder="请输入策略名称"
                             {#if name}
                             value="{name}"
                             {/if}
                />
                <button onclick="storeSearch()"> 查询 </button>
            </div>
        </div>
    </section>
    <div class="table-three">
        <table>
            <thead>
            <tr>
                <th>策略id</th>
                <th>策略名称</th>
                <th>策略描述</th>
            </tr>
            </thead>

            <tbody>
            {#for l in list}
            <tr>
                <td>{l.id}</td>
                <td>{l.name}</td>
                <td>{l.desc}</td>
            </tr>
            {/for}
            </tbody>
        </table>
    </div>
</div>

