<div class="detail">
    <div class="detail-group">
        <div class="div-title"> 运单信息 </div>
        <div class="layui-row">
            <div class="layui-col-md2 layui-col-md-offset2">
                <label class="layui-form-label">运单编号</label>

                <div class="layui-input-block ">
                    <input type="text" value="{delivery.id}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">订单编号</label>

                <div class="layui-input-block ">
                    <input type="text" value="{delivery.orderId}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">取货地址</label>
                <div class="layui-input-block">
                    <input type="text" value="测试地址" class="layui-input" disabled="disabled">
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md2 layui-col-md-offset2">
                <label class="layui-form-label">订单金额</label>

                <div class="layui-input-block ">
                    <input type="text" value="{delivery.orderPrice}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">支付金额</label>

                <div class="layui-input-block ">
                    <input type="text" value="{delivery.deliveryFeePrice}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">小费金额</label>
                <div class="layui-input-block">
                    <input type="text" value="{delivery.tipFeePrice}" class="layui-input" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="detail-group">
        <div class="div-title"> 收货人信息 </div>
        <div class="layui-row">
            <div class="layui-col-md2 layui-col-md-offset2">
                <label class="layui-form-label">收货人名称</label>

                <div class="layui-input-block ">
                    <input type="text" value=" {delivery.destUser}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">收货人电话</label>

                <div class="layui-input-block ">
                    <input type="text" value="{delivery.destPhone}" class="layui-input" disabled="disabled">
                </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset1">
                <label class="layui-form-label">收货地址</label>
                <div class="layui-input-block">
                    <input type="text" value="{delivery.destAddress}" class="layui-input" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="detail-group">
        <div class="div-title"> 配送数据流转 </div>
        <table class="delivery-detail-table" >

            <thead>
            <tr>
                <th>渠道</th>
                <th>时间</th>
                <th>事件</th>
                <th>骑手姓名</th>
                <th>骑手电话</th>
            </tr>
            </thead>
            {#for d in detail}
            <tr>
                <td>{d.channelName}</td>
                <td>{d.createTime}</td>
                <td>{d.statusEvent}</td>
                <td>{d.riderName}</td>
                <td>{d.riderPhone}</td>
            </tr>
            {/for}
            <tbody>

            </tbody>
        </table>
        </div>
    </div>




    <div class="back-wrapper clearfix">
        <button onclick="deliveryJump()"> 返回 </button>
    </div>
</div>